<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-light">


  <!-- Dashboard Tab -->
  <ion-tab title="Dashboard" icon-off="dashboard" icon-on="dashboard" href="#/tab/dash" nav-clear>
    <ion-nav-view name="tab-dash" cache-view="false"></ion-nav-view>
  </ion-tab>

  <!-- Get Menu Tab -->
  <ion-tab title="Get Menu" icon-off="get-menu" icon-on="get-menu" href="#/tab/menu" nav-clear>
    <ion-nav-view name="tab-get-menu" cache-view="false"></ion-nav-view>
  </ion-tab>

  <!-- Rate Meal Tab -->
  <ion-tab title="Rate Meal" icon-off="rate-meal" icon-on="rate-meal" ui-sref="tab.rate-week">
    <ion-nav-view cache-view="false" name="tab-rate-meal"></ion-nav-view>
  </ion-tab>

  <!-- Get Menu Tab -->
  <!--<ion-tab title="Late Plate" icon-off="late-plate" icon-on="late-plate" ui-sref="tab.late-plate-main">-->
  <ion-tab title="Late Plate" icon-off="late-plate" icon-on="late-plate" ng-click="onLatePlate()">
    <ion-nav-view name="tab-late-plate" cache-view="false"></ion-nav-view>
  </ion-tab>

  <!-- Rate Meal Tab -->
  <ion-tab title="Meal Photo" icon-off="meal-photo" icon-on="meal-photo" href="#/tab/meal/photo">
    <ion-nav-view  name="tab-meal-photo"></ion-nav-view>
  </ion-tab>

  <!-- Rate Meal Tab -->
  <ion-tab title="Community" icon-off="community" icon-on="community" href="#/tab/community">
    <ion-nav-view name="tab-community"></ion-nav-view>
  </ion-tab>

</ion-tabs>
