/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$warning: #c09853 !default;

//constants and variables

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;


//$font-size-base:                  14px !default;
//$font-size-large:                 18px !default;
//$font-size-small:                 11px !default;

//$font-family-primary :  MYRIADPRO-BOLD;
$bar-height: 80px;
$tabs-height: 75px;
$light-blue:  #00caf8;
$dark-blue:   #0095ba;
$image-url-path: '../img/' !default;

//function declarations
@function font-url($url) {
  @return url("#{$ionicons-font-path}#{$url}");
}

//Myriads pro fonts

@font-face {
  font-family: "Myriadpro bold";
  src:font-url("/myriad-pro/MYRIADPRO-BOLD.OTF");
  font-weight: normal;
  font-style: normal;
}

$font-family-base:  "Myriadpro bold" !default;



// Include all of Ionic
@import "../www/lib/ionic/scss/ionic";


//function declarations
@function image-url($url) {
  @return url("#{$image-url-path}#{$url}");
}

//mixin declarations

@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient($direction, $color-stops);
  background: linear-gradient($direction, $color-stops);
}

@mixin background($imgpath,$position:0 0,$repeat: no-repeat) {
  background: {
    image: image-url($imgpath);
    position: $position;
    repeat: $repeat;
  }
}

@mixin custom-icon($imgpath,$position:0 0,$height:50%,$repeat: no-repeat,$size:contain) {
  background: {
    image: image-url($imgpath);
    position: $position;
    repeat: $repeat;
    size:$size;
  }
  height: $height;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//cook app styles

@mixin template-image($width:200px,$height:200px,$position:fixed,$top:80px,$right:5px){
  img{
    width: $width;
    height: $height;
    position: $position;
    top: $top;
    right: $right;
  }
}

.tabs-striped .tabs,.tabs{
  @include linear-gradient(left,$light-blue,$dark-blue);
  padding-top: .5rem;
}

.bar.bar-stable,.bar.bar-header{
  background-color: $dark-blue;
}
.bar.bar-stable{
  @include background('logo.png',center);
  background-size: 70%;
}

ion-content{
  @include linear-gradient(left,$light-blue,$dark-blue);
  @include background('app-background.jpg');
  background-size: cover;
}
#background-welcome{
  @include background('Welcome-Page.jpg',0px -5rem);
  background-size: cover;
}
#background-community{
  @include background('background-community.jpg',0px -5rem);
  background-size: cover;
}
#background-get-meal{
  @include background('background-get-meal.jpg',0px -5rem);
  background-size: cover;
}
#background-late-plate{
  @include background('background-late-plate.jpg',0px -5rem);
  background-size: cover;
}
#background-photo{
  @include background('background-photo.jpg',0px -5rem);
  background-size: cover;
}
#background-rate-meal{
  @include background('background-rate-meal.jpg',0px -5rem);
  background-size: cover;
}

.tabs .tab-item .icon.dashboard {
  @include custom-icon('icons/icon-dashboard.png',50%,60%);
  margin-top: 10%;
}
.tabs .tab-item .icon.get-menu {
  @include custom-icon('icons/icon-getmenu.png',50%,70%);
}
.tabs .tab-item .icon.rate-meal {
  @include custom-icon('icons/Rate.png',50%,70%);
}
.tabs .tab-item .icon.late-plate {
  @include custom-icon('icons/late-plate.png',50%,70%);
}
.tabs .tab-item .icon.meal-photo {
  @include custom-icon('icons/photo-icon.png',50%,70%);
}
.tabs .tab-item .icon.community {
  @include custom-icon('icons/community.png',50%,70%);
}
//.button .icon.protein {
//  @include custom-icon('icons/Pork.png',50%,70%);
//}

.make-dull{
  opacity: 0.1;
  filter: alpha(opacity=40);
}
.back-blue{
  @include linear-gradient(left,$light-blue,$dark-blue)
}


body{
  font-family: $font-family-base;
  h1{
    font-weight: 900;
  }
  h2{
    font-weight: 500;
  }
  .button,p{
    color: #ffffff;
  }
}

.bar .button.back-button {
  margin-top: 1rem;
  color: #ffffff;
}

.chefMessage{
  vertical-align: top;
  padding-top: 0px;
}
.template{
  display: block;
  p{padding-top: 0px;margin-top:0px;padding-left: 20px;}
  img{
    //float: right;
    width: 200px;
    height: 200px;
    position: fixed;
    top: 2.5rem;
    right: 5px;
  }
}
.template-menu{
  display: block;
  p{padding-top: 0px;margin-top:0px;padding-left: 20px;}
  @include template-image(200px,200px,fixed,1.5rem,1px)
}
.template-rating{
  display: block;
  p{padding-top: 0px;margin-top:0px;padding-left: 20px;}
  @include template-image(200px,200px,fixed,2rem,2px)
}
#MenuForm{
  margin-top: 10rem;
}

.template-late-plate{
  display: block;
  p{padding-top: 0px;margin-top:0px;padding-left: 20px;}
  @include template-image(200px,200px,fixed,1rem,1px)
}

#late-plate{
  margin-top: 9rem;
}
#community-selection{
  margin-top: 11rem;
}

.template-photo{
  display: block;
  p{padding-top: 0px;margin-top:0px;padding-left: 20px;}
  @include template-image(200px,200px,fixed,3.5rem,-5px)
}

#generalFeedbackForm,
#mealSuggestionForm
{
  margin-top: 11rem;
}

.tcenter{
  display:block;
  text-align:center;
  margin: 0 auto;
}

#ratingForm{
  margin-top: 10rem;
}

#generalFeedbackForm,
#mealSuggestionForm{
  #feedback{
    .input-label{
      margin-top: -80px;
    }
  }
}

#communityForm,#ratingForm{
  #feedback{
    .input-label{
      margin-top: -80px;
    }
  }
}
#latePlateForm,
#sackLunchForm{
  #chef-message{
    .input-label{
      margin-top: -80px;
    }
  }
}

.protein-panel{
  .protein{
    text-align: center;
    display: block;
  }
  img{
    display: block;
    margin: 0 auto;
    position: relative;
    width: 70px;
    height: 70px;
  }
}
.more-button-panel{
  .panel-button{
    text-align: center;
    display: block;
    font-size: 11px;
  }
  img{
    display: block;
    margin: 0 auto;
    position: relative;
    width: 60px;
    height: 60px;
  }
}
.rate-panel{
  .protein{
    text-align: center;
    display: block;
  }
  img{
    display: block;
    margin: 0 auto;
    position: relative;
    width: 35px;
    height: 35px;
  }
}

.late-plate-header{
  img{
    height: 300px;
  }
}

.rating {
  margin: 0;
  padding: 0;
  display: inline-block;

  li {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
    &.filled {
      color: #fd0; //#21568b
    }
  }
  &.readonly li.filled {
    color: #666;
  }
}

.comment-inform textarea {
  background-color: #ddd;
  width: 100%;
  padding: 5px;
  border: solid 1px #FFF;
}

.alert {
  padding: 10px 15px 10px 15px;
  margin-bottom: 5px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 4px;
}
.alert-success{
  color: $light;
  background-color: $balanced;
//  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-warning{
  color: $light;
  background-color: lighten($warning,20);
}
.alert-danger,
.alert-error {
  color: $light;
  background-color: $assertive;
//  background-color: #f2dede;
  border-color: #eed3d7;
}
.alert-info {
  color: $light;
  background-color: $positive;
//  background-color: #d9edf7;
  border-color: #bce8f1;
}

.main-alert{
  margin: 5px auto;
  text-align: center;
}
.alert-hidden{
  visibility: hidden;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.meal-time{
  a{
    height: 80px !important;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  img{
    //position: absolute;
    //top: 10px;
    //left: 10px;
    max-width: 60px !important;
    max-height: 60px !important;
    //width: 100%;
  }
  .item-thumbnail-left, .item-thumbnail-left .item-content {
    padding-top: 6px;
    min-height: 70px;
  }
}

.popup-head{
  @include linear-gradient(left,$light-blue,$dark-blue);
  h3{
    color: $light;
  }
}
.popup{
  border-radius: 5px;
}
.popup-buttons{
  button{
    @include linear-gradient(left,$light-blue,$dark-blue);
  }
  button.btn-nevermind{
    background: $light;
  }
}

//override the card top margin on menu detail page

//#menu-detail.card{
//  margin: 0px 0px !important;
//}

.bold {
  font-weight: bold;
}
.message {
  font-size: 14px;
}

.message-detail {
  white-space: nowrap;
  font-size: 14px;
}
.message-wrapper {
  position: relative;
}

.message-wrapper:last-child {
  margin-bottom: 10px;
}

.chat-bubble {
  border-radius: 5px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  margin: 10px;
  max-width: 90%;
}

.chat-bubble:before {
  content: "\00a0";
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: -7.5px;
}

.chat-bubble.left {
  background-color: #e6e5eb;
  float: left;
  margin-left: 5px;
}

.chat-bubble.left:before {
  background-color: #e6e5eb;
  left: 10px;
  -webkit-transform: rotate(70deg) skew(5deg);
}
.cf {
  clear: both !important;
}

.confirmation-box{
  min-height: 100px;
  border-radius: 10px;
  h5{
    color: $light;
    vertical-align: middle;
    padding-top: 40px;
  }
}
.tabs.tab-date{
  position: relative;
  top: 0 !important;
  .date-box{
    .date{
      line-height: 2;
    }
    .day{
      line-height: 0;
      font-size: 20px;
      font-weight: bold;
    }
  }
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader)
{
  height: 100px;
  position: absolute;
  top: 0px;
}
//deshboard notifications
.dash-notification{
  border: 2px solid white;
  border-radius: 10px;
  margin-bottom: 5px;
}
.dash-notification p {
  margin-bottom: 0;
}