<ion-view>
  <ion-content id="background-welcome" class="padding has-header">
    <div class="row center">
        <h2 class="light">Welcome {{ studentData.name }}</h2>
    </div>
      <div class="padding dash-notification positive-bg" ng-repeat="item in notifications">
          <p>{{item.content}}</p>
      </div>
      <!--<div class="padding dash-notification positive-bg">-->
          <!--<p>There will be no breakfast served on Labor Day</p>-->
      <!--</div>-->
      <!--<div class="padding dash-notification positive-bg">-->
          <!--<p>There will be no breakfast served on Labor Day</p>-->
      <!--</div>-->
      <!--<div class="padding dash-notification positive-bg">-->
          <!--<p>There will be no breakfast served on Labor Day</p>-->
      <!--</div>-->

        <a class="button button-full back-blue light" ng-click="getTodaysMeal()">Get Today's Menu</a>
        <!--<a class="button button-full back-blue light" ng-click="sendEmail()">Need Help?  Click Here</a>-->
        <a class="button button-full back-blue light" ng-click="openModal()">Need Help?  Click Here</a>
        <a class="button button-full back-blue light" ui-sref="tab.profile">Profile Update</a>
		<a class="button button-full back-blue light" href="#" onclick="window.open('https://fastfor.ms/EB328', '_system', 'location=no'); return false;">Allergy Profile</a>
        <a class="button button-full back-blue light" ng-click="signOut()">Sign out</a>
  </ion-content>
</ion-view>
