<ion-view>
    <ion-content class="padding" has-header="true">

        <div class="row tcenter">
            <h3 class="light">Profile Update</h3>
        </div>

        <alert></alert>
        <!-- use ng-submit to catch the form submission and use our Angular function -->
        <form id="updateProfileForm" name="updateProfileForm" ng-submit="updateProfile(student)" novalidate>

            <label class="item item-input">
                <span class="input-label calm">First Name</span>
                <input type="text" name="input_1_3" placeholder="First Name (Required)" ng-model="student['firstName']" required auto-focus/>
            </label>
            <div ng-show="updateProfileForm.input_1_3.$invalid && !updateProfileForm.input_1_3.$pristine">
                <h5 class="assertive">First Name is required.</h5>
            </div>

            <label class="item item-input">
                <span class="input-label calm">Last Name</span>
                <input type="text" name="input_1" placeholder="Last Name (Required)" ng-model="student['lastName']" required />
            </label>
            <div ng-show="updateProfileForm.input_1.$invalid && !updateProfileForm.input_1.$pristine">
                <h5 class="assertive">Last Name is required.</h5>
            </div>

            <!-- <label class="item item-input">
                <span class="input-label calm">Email Address</span>
                <input type="email" name="input_3" placeholder="Email (Required)" ng-model="student['email']" required/>
            </label> 
            <div ng-show="updateProfileForm.input_3.$invalid && !updateProfileForm.input_3.$pristine">
                <h5 class="assertive">Enter a valid email.</h5>
            </div>-->

            <label class="item item-input item-select">
                <span class="input-label calm">Live In House?</span>
                <select
                        name="live"
                        ng-model="student.input_12"
                        ng-options="option for option in options">
                </select>
            </label>

            <button type="submit" ng-disabled="updateProfileForm.$invalid" class="button button-block back-blue">
                Update
            </button>
        </form>

		<!-- Move the allergy profile button to the dashboard
        <button class="button button-block back-blue">
            Add An Allergy Profile
        </button>
		-->
    </ion-content>
</ion-view>