<ion-view cache-view="false">
    <ion-content id="background-late-plate" class="padding" has-header="true">

        <!-- our nested state views will be injected here -->
        <div class="animate-switch-container" ng-switch on="vm.formState">

        <!-- use ng-submit to catch the form submission and use our Angular function -->
        <form id="latePlateForm" name="latePlateForm" ng-submit="vm.submitLatePlate(vm.latePlate)" novalidate>
                <div class="animate-switch" ng-switch-when="date">
                    <div class="row">
                            <h3 class="calm">Request a Late Plate</h3>
                    </div>

                    <label class="item item-input item-select">
                        <span class="input-label calm">Select Week</span>
                        <select
                                name="week"
                                ng-model="vm.latePlate['week']"
                                ng-init="vm.latePlate['week']=vm.weekOption[0]"
                                ng-options="option for option in vm.weekOption"
                                ng-change = "vm.filterDays()"
                                required>
                        </select>
                    </label>
                    <div ng-show="latePlateForm.week.$invalid && !latePlateForm.week.$pristine">
                        <h5 class="assertive">Week is required.</h5>
                    </div>


                    <label class="item item-input item-select">
                        <span class="input-label calm">Select Day</span>
                        <select
                                name="day"
                                ng-model="vm.latePlate['day']"
                                ng-options="d for d in vm.dayOption"
                                required>
                            <option value="">Select Day</option>
                        </select>
                    </label>
                    <div ng-show="latePlateForm.day.$invalid && !latePlateForm.day.$pristine">
                        <h5 class="assertive">Day is required.</h5>
                    </div>


                    <label class="item item-input item-select">
                        <span class="input-label calm">Select A Meal</span>
                        <select
                                name="mealOption"
                                ng-model="vm.latePlate[vm.form.mealTime]"
                                ng-options="option for option in vm.mealTime"
                        required>
                        <option value="">Select A Meal</option>
                        <!--<option ng-repeat="option in vm.mealTime" value="{{ option }}">{{option}}</option>-->
                        </select>
                    </label>
                    <div ng-show="latePlateForm.mealOption.$invalid && !latePlateForm.mealOption.$pristine">
                        <h5 class="assertive">Meal Time is required.</h5>
                    </div>

                    <a ng-disabled="latePlateForm.$invalid" ng-click="vm.changeFormState()"
                       class="button button-block icon-left ion-plus back-blue">
                        Request a Late Plate
                    </a>
                </div>

                <div class="animate-switch" ng-switch-when="time">
                    <div class="row">
                        <h3 class="calm">Almost Done.</h3>
                    </div>

                    <div class="item item-checkbox">
                        <label class="checkbox">
                            <input name="infoBox" type="checkbox" ng-model="vm.latePlate[vm.form.reoccurring]">
                        </label>
                        <p>Check If Reoccurring.</p>
                    </div>
                    <label ng-if="vm.latePlate[vm.form.reoccurring]" class="item item-input">
                        <span class="input-label calm">Termination Date</span>
                        <input name="terminationDate" ng-model="vm.latePlate[vm.form.terminationDate]" type="date" required min="{{vm.todayDate}}"/>
                    </label>
                    <div ng-if="vm.latePlate[vm.form.reoccurring]" ng-show="latePlateForm.terminationDate.$invalid && !latePlateForm.terminationDate.$pristine">
                        <h5 class="assertive">Invalid Date.</h5>
                    </div>

                    <label id="chef-message" class="item item-input">
                        <span class="input-label calm chefMessage">Message to Chef</span>
                        <!--<p>Enter message to chef</p>-->
                        <textarea ng-model="vm.latePlate[vm.form.message]" placeholder="Message to Chef &#x0a;(optional)"
                                  rows="6" cols="10" name="message">
                        </textarea>
                    </label>

                    <button type="submit" ng-disabled="latePlateForm.$invalid" class="button button-block icon-left ion-plus back-blue">
                        Request a Late Plate
                    </button>
                </div>

            <!--<div id="form-views" ui-view></div>-->
        </form>
            <div class="animate-switch" ng-switch-when="confirmation">
                <div class="row">
                    <div class="col-offset-20">
                        <img ng-src="{{'img/icons/late-plate.png'}}" width="200px" height="200px">
                    </div>
                </div>
                <div class="row confirmation-box back-blue">
                    <div class="col-offset-20 light">
                        <h5>{{ vm.serverMessage }}</h5>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>