<ion-view cache-view="false">
    <ion-content id="background-late-plate" class="padding" has-header="true">
        <div class="row template-late-plate">
            <h5 class="light" ng-if="!vm.is_lateplateEnable">
                If you are looking to set up late plate accommodations with Campus Cooks we would be glad to help. Please contact your house's coordinator to get things in place
            </h5>
            <div class="late-plate-header" ng-if="vm.is_lateplateEnable">
                <h3 class="light">In a Hurry? No worries</h3>
                <p>Campus Cooks will make sure you're fed!</p>
                <img class="pull-right" ng-src="{{'img/icons/late-plate.svg'}}" ng-if="vm.is_lateplateEnable">
            </div>
            <div class="clearfix"></div>
            <br/>
        </div>


        <div id="late-plate">
            <a ng-if="vm.is_lateplateEnable" class="button button-full icon-left ion-plus back-blue" href="#/tab/latePlate">
                Request a Late Plate
            </a>
            <a class="button button-full icon-left back-blue" href="#/tab/my-latePlates">
                My Late Plates
            </a>
            <!--<a class="button button-full icon-left ion-plus back-blue" href="#/tab/sack/lunch">-->
                <!--Request a Sack Lunch-->
            <!--</a>-->

        </div>
    </ion-content>
</ion-view>