<ion-view cache-view="false">
    <ion-content id="background-late-plate" class="padding" has-header="true">
        <alert></alert>
        <div id="menu-detail" class="card" ng-repeat="item in myLatePlates">
            <div class="item item-divider calm">
                <span>{{ item.mealtime }}</span>
            </div>
            <div class="item" ng-if="item.id != 0">
                <div class="row" ng-if="item.is_recurring != 1">
                    <div class="col col-center">
                        <small>Date : </small>
                    </div>
                    <div class="col">
                        {{ item.formatted_date}}
                    </div>
                </div>
                <div ng-if="item.is_recurring == 1">
                    <div class="row">
                        <div class="col col-center">
                            <small>End Date : </small>
                        </div>
                        <div class="col">
                            {{ item.stop_date}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-center calm">
                            <small>Reoccurring</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="button button-assertive button-block button-small" ng-click="cancelLatePlate(item)">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="item item-text-wrap">-->
        <!--<div class="row">-->
        <!--<div class="col col-center">-->
        <!--<small>Vegetable Pasta Bake</small>-->
        <!--</div>-->
        <!--<div class="col">-->
        <!--<div class="row rate-panel">-->
        <!--<div class="col">-->
        <!--<img ng-src="{{ 'img/icons/icon-gluten-free.png'}}">-->
        <!--</div>-->
        <!--<div class="col">-->
        <!--<img ng-src="{{ 'img/icons/Veggie.png'}}">-->
        <!--</div>-->
        <!--<div class="col">-->
        <!--<img ng-src="{{ 'img/icons/Dairy-Free.png'}}">-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
        <!--<div class="col col-center">-->
        <!--<small>Caprese Salad</small>-->
        <!--</div>-->
        <!--<div class="col">-->
        <!--<div class="row rate-panel">-->
        <!--<div class="col">-->
        <!--<img ng-src="{{ 'img/icons/icon-gluten-free.png'}}">-->
        <!--</div>-->
        <!--<div class="col">-->
        <!--<img ng-src="{{ 'img/icons/Veggie.png'}}">-->
        <!--</div>-->
        <!--<div class="col">-->
        <!--<img ng-src="{{ 'img/icons/Dairy-Free.png'}}">-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
        <!--<div class="col col-center">-->
        <!--<small>Garlic Bread</small>-->
        <!--</div>-->
        <!--<div class="col">-->
        <!--<div class="row rate-panel">-->
        <!--<div class="col">-->
        <!--<img ng-src="{{ 'img/icons/icon-gluten-free.png'}}">-->
        <!--</div>-->
        <!--<div class="col">-->
        <!--<img ng-src="{{ 'img/icons/Veggie.png'}}">-->
        <!--</div>-->
        <!--<div class="col">-->
        <!--<img ng-src="{{ 'img/icons/Dairy-Free.png'}}">-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!-- -->
        <!--<div class="item">-->
        <!--<div class="row">-->
        <!--<div class="col col-center">-->
        <!--<small>End Date : </small>-->
        <!--</div>-->
        <!--<div class="col">-->
        <!--06-30-2016-->
        <!--</div>-->
        <!--</div>-->
        <!---->
        <!--</div>-->
    </ion-content>
</ion-view>