<ion-view cache-view="false">
    <ion-content id="background-late-plate" class="padding" has-header="true">

        <!-- our nested state views will be injected here -->
        <div class="animate-switch-container" ng-switch on="vm.formState">

            <!-- use ng-submit to catch the form submission and use our Angular function -->
            <form id="sackLunchForm" name="sackLunchForm" ng-submit="vm.submitSackLunch(vm.sackLunch)" novalidate>
                <div class="animate-switch" ng-switch-when="date">
                    <div class="row">
                        <div class="col-offset-10">
                            <h3 class="calm">Request a Sack Lunch</h3>
                        </div>
                    </div>

                    <label class="item item-input item-select">
                        <span class="input-label calm">Select Week</span>
                        <select
                                name="week"
                                ng-model="vm.sackLunch['week']"
                                ng-options="option for option in vm.weekOption"
                                required>
                            <option value="">Select Week</option>
                        </select>
                    </label>
                    <div ng-show="sackLunchForm.week.$invalid && !sackLunchForm.week.$pristine">
                        <h5 class="assertive">Week is required.</h5>
                    </div>


                    <label class="item item-input item-select">
                        <span class="input-label calm">Select Day</span>
                        <select
                                name="day"
                                ng-model="vm.sackLunch['day']"
                                ng-options="d for d in vm.dayOption"
                                required>
                            <option value="">Select Day</option>
                        </select>
                    </label>
                    <div ng-show="sackLunchForm.day.$invalid && !sackLunchForm.day.$pristine">
                        <h5 class="assertive">Day is required.</h5>
                    </div>


                    <a ng-disabled="sackLunchForm.$invalid" ng-click="vm.changeFormState()"
                       class="button button-block icon-left ion-plus back-blue">
                        Request a Sack Lunch
                    </a>
                </div>

                <div class="animate-switch" ng-switch-when="time">
                    <div class="row">
                            <h3 class="calm">Almost Done.</h3>
                    </div>

                    <div class="item item-checkbox">
                        <label class="checkbox">
                            <input name="infoBox" type="checkbox" ng-model="vm.sackLunch[vm.form.reoccurring]">
                        </label>
                        Check box for reoccuring Sack Lunch.
                    </div>
                    <label ng-if="vm.sackLunch[vm.form.reoccurring]" class="item item-input">
                        <span class="input-label calm">Termination Date</span>
                        <input name="terminationDate" ng-model="vm.sackLunch[vm.form.terminationDate]" type="date" required />
                    </label>
                    <div ng-if="vm.sackLunch[vm.form.reoccurring]" ng-show="sackLunchForm.terminationDate.$invalid && !sackLunchForm.terminationDate.$pristine">
                        <h5 class="assertive">Date is required.</h5>
                    </div>


                    <label id="chef-message" class="item item-input">
                        <span class="input-label calm">Message to Chef</span>
                        <!--<p>Enter message to chef</p>-->
                        <textarea ng-model="vm.sackLunch[vm.form.message]" placeholder="Message to Chef ..(optional)"
                                  rows="6" cols="10" name="message">
                        </textarea>
                    </label>

                    <button type="submit" ng-disabled="sackLunchForm.$invalid" class="button button-block icon-left ion-plus back-blue">
                        Request a Sack Lunch
                    </button>
                </div>

                <!--<div id="form-views" ui-view></div>-->
            </form>
            <div class="animate-switch" ng-switch-when="confirmation">
                <div class="row">
                    <div class="col-offset-20">
                        <img ng-src="{{'img/icons/late-plate.png'}}" width="200px" height="200px">
                    </div>
                </div>
                <div class="col-offset-20 light">
                    {{ vm.serverMessage }}
                </div>
                <!--<a class="button button-block icon-leftt ion-plus-circled button-calm" href="#/tab/dash">-->
                    <!--Back to Dashboard-->
                <!--</a>-->
            </div>
        </div>

    </ion-content>
</ion-view>