
<div ng-show="alert.show" class="alert alert-{{alert.type}} animated main-alert" ng-class="{'flipInY':alert.show,'flipOutY':!alert.show,'alert-hidden':!alert.hasBeenShown}">
    <strong>{{ alert.title }}</strong>{{ alert.message }}
</div>