<ion-view cache-view="false">
    <ion-content id="background-photo" class="has-header padding">

        <div class="row template-photo">
            <div class="">
                <h4 class="light">Submit a Photo to Campus Cooks</h4>
                <p>We are proud of our work, and love to see it! If your meal gets your mouth watering, please take a moment and send us a photo!</p>
                <img class="pull-right" style="margin-top: 1rem;" ng-src="{{'img/icons/photo-icon.png'}}">
            </div>
        </div>

        <div id="camera-button-panel" class="row">
            <div class="col">
                <button class="button back-blue" ng-click="vm.takePicture()">Take Picture</button>
            </div>
        </div>

        <div class="card" ng-if="vm.imgSrc">
            <div class="item item-image back-blue">
                <img ng-src="{{vm.imgSrc}}" />
            </div>
        </div>

    </ion-content>
</ion-view>