<ion-view>

    <ion-content class="padding" has-header="true">

        <div class="row tcenter">
            <h3 class="light">Forgot Password</h3>
        </div>

        <alert></alert>
        <div class="col-100">
                <form role="form" id="forgetPasswordForm" name="forgetPasswordForm" ng-submit="forgetPassword(user)">

                        <label class="item item-input">
                            <span class="input-label">Email</span>
                            <input type="email" name="email" placeholder="Email (Required)" ng-model="user['email']" required />
                        </label>
                        <div ng-show="forgetPasswordForm.email.$invalid && !forgetPasswordForm.email.$pristine">
                            <h5 class="assertive">Enter a valid email.</h5>
                        </div>

                    <button type="submit" ng-disabled="forgetPasswordForm.$invalid" class="button button-block back-blue">
                        Submit
                    </button>
                </form>
            </div>

    </ion-content>
</ion-view>