<!--<ion-view view-title="Registration Second Step">-->
    <!--<ion-content>-->
<div class="list-borderless">
    <p>Do you have any food allergies, we need to be made aware of ?</p>
    <div class="item-divider padding-left">
        Do you have a doctor diagnosed allergy or a dietary requirements ?
    </div>

    <label class="item item-input">
        <span class="input-label calm">Phone</span>
        <input type="tel" name="phone" ui-mask="{{'(999) 999-9999'}}" placeholder="(999) 999-9999" ng-model="student[form.phone]" ng-maxlength="10"/>
    </label>
    <div ng-show="signupForm.phone.$invalid && !signupForm.phone.$pristine">
        <h5 class="assertive">Phone Number is required.</h5>
    </div>
    <div class="item item-checkbox">
        <label class="checkbox">
            <input name="diagnose" type="radio" ng-model="student[form.doctorDiagnosed]" ng-value="'doctor Diagnosed'">
        </label>
        <p>Doctor diagnosed allergy</p>
    </div>
    <div class="item item-checkbox">
        <label class="checkbox">
            <input name="diagnose" type="radio" ng-model="student[form.doctorDiagnosed]" ng-value="'Dietary requirement'">
        </label>
        <p>Dietary requirement</p>
    </div>

    <div class="item-divider padding-left">
        What Is Your Allergy?
    </div>

    <div class="item">
        <label class="checkbox">
            <input name="dairy" type="checkbox" ng-model="student['input_14_1']" ng-true-value="'Dairy'">
        </label>
        <small>Dairy</small>
        <label class="checkbox">
            <input name="egg" type="checkbox" ng-model="student['input_14_2']" ng-true-value="'Egg'">
        </label>
        <small>Egg</small>
    </div>

    <div class="item">
        <label class="checkbox">
            <input name="nuts" type="checkbox" ng-model="student['input_14_5']" ng-true-value="'Nuts'">
        </label>
        <small>Nuts</small>
        <label class="checkbox">
            <input name="seafood" type="checkbox" ng-model="student['input_14_6']" ng-true-value="'Sea Food'">
        </label>
        <small>Seafood</small>
    </div>
    <div class="item">
        <label class="checkbox">
            <input name="soy" type="checkbox" ng-model="student['input_14_7']" ng-true-value="'Soy'">
        </label>
        <small>Soy</small>
        <label class="checkbox">
            <input name="gluten" type="checkbox" ng-model="student['input_14_4']" ng-true-value="'Gluten'">
        </label>
        <small>Gluten</small>
    </div>
    <div class="item">
        <label class="checkbox">
            <input name="fruit" type="checkbox" ng-model="student['input_14_3']" ng-true-value="'Fruit/Veggie/Produce'">
        </label>
        <small>Fruit/Veggie/Produce</small>
    </div>

    <div class="item">
        <label class="checkbox">
            <input name="other" type="checkbox" ng-model="student['input_14_8']" ng-true-value="'Other'">
        </label>
        <small>Other</small>
    </div>

    <div class="item-divider padding-left">
        List Specific Items
    </div>

    <label class="item item-input">
        <textarea ng-model="student[form.specificItem]" placeholder="List Specific Items (optional)"
                  rows="6" cols="10" name="message">
        </textarea>
    </label>

    <div class="item-divider padding-left">
        Severity of allergy or intolerance
    </div>

    <div class="item" style="white-space: normal;">
        <label class="checkbox">
            <input name="severityOfAllergy" type="radio" ng-model="student[form.severityOfAllergy]" ng-value="'It is not so bad.'">
        </label>
        <small>
            It's not so bad - I can be present around others while dining. I can eat around those foods. Maybe just an uncomfortable stomach if I eat it.
        </small>
    </div>

    <div class="item" style="white-space: normal;">
        <label class="checkbox">
            <input name="severityOfAllergy" type="radio" ng-model="student[form.severityOfAllergy]" ng-value="'It makes me feel like garbage.'">
        </label>
        <small>It makes me feel like garbage - I can still be around the food, but touching/eating it is a problem. Hives, excruciating pains, or flu-like symptoms.</small>
    </div>

    <div class="item" style="white-space: normal;">
        <label class="checkbox">
            <input name="severityOfAllergy" type="radio" ng-model="student[form.severityOfAllergy]" ng-value="'Immediate medical attention needed.'">
        </label>
        <small>Immediate medical attention needed - I can't eat it, smell it, or even look at it. If I do, I need an Epi-Pen or an ambulance.</small>
    </div>

    <div class="item-divider padding-left">
        Do you carry and/or use an Epi Pen ?
    </div>

    <label class="item item-input item-select">
        <span class="input-label calm">Carry or use Epi Pen</span>
        <select
                name="carry"
                ng-init="student.input_17 = options[1]"
                ng-model="student.input_17"
                ng-options="option for option in options">
        </select>
    </label>


</div>

<div class="row">
        <a ui-sref="email.interests" class="button col col-40 icon-left ion-plus back-blue">
            Back
        </a>
        <a ui-sref="email.additional" class="button col-offset-10 col col-40 icon-left ion-plus back-blue">
            Continue
        </a>
</div>

    <!--</ion-content>-->
<!--</ion-view>-->