<ion-view>
    <ion-content class="padding" has-header="true">

        <div class="row tcenter">
            <h3 class="light">Welcome to Campus Cooks</h3>
        </div>

        <script type="text/ng-template" id="error-messages">
            <div ng-message="required">This field is required</div>
            <div ng-message="minlength">This field is too short</div>
            <div ng-message="maxlength">This field exceeds the max character limit</div>
            <div ng-message="email">Your email address is invalid</div>
        </script>

        <alert></alert>
    <!-- use ng-submit to catch the form submission and use our Angular function -->
    <form id="signupForm" name="$parent.signupForm" ng-submit="register(student)" novalidate>
        <!-- our nested state views will be injected here -->
        <div id="form-views" ui-view></div>
        <!--<ion-view id="form-views" autoscroll="true"></ion-view>-->
    </form>

    </ion-content>
</ion-view>