<div class="card">
    <div class="item item-text-wrap">

        <div class="row">
            <div class="col-offset-10 calm">
                <p>Thank you for registering. We have sent a confirmation email to your provided email address.Once you confirm the email, you will be able to login here.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-offset-10 col-80">
        <a href="#/login" class="button col-block button-calm">
            Back to login
        </a>
    </div>
</div>