<!--<ion-view view-title="Registration Third Step">-->
    <!--<ion-content>-->

<div class="card">
    <div class="item item-text-wrap">

        <div class="row">
            <div class="col-offset-25 col-50 calm">
                <b>Almost Done!</b>
            </div>
        </div>

        <div class="">
            <p>If you have any specific information you would like to give us, please leave us a message here.</p>
            <textarea name="extrainfo" placeholder="Enter Extra information here.(optional)" rows="4" cols="10" ng-model="student[form.additionalInfo]">
            </textarea>
        </div>

        <div class="item item-checkbox">
            <label class="checkbox">
                <input name="infoBox" type="checkbox" ng-model="infoBox" required="true">
            </label>
            <p>Please check this box if you are certain your information is correct.</p>
            <div ng-show="signupForm.infoBox.$invalid && !signupForm.infoBox.$pristine" class="assertive">
                check box is required.
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <a ng-if="student[form.isAllergy]" ui-sref="email.allergies" class="button col button-calm">
            Back
        </a>
        <a ng-if="!student[form.isAllergy]" ui-sref="email.interests" class="button col button-calm">
            Back
        </a>
        <button type="submit" ng-disabled="signupForm.$invalid" class="button col-offset-10 col button-calm">
            Finish
        </button>
    </div>

    <!--</ion-content>-->
<!--</ion-view>-->