<div class="row tcenter">
    <h4 class="light">
        Please take few minutes to tell us about yourself.
    </h4>
</div>

<label class="item item-input">
    <span class="input-label calm">Houses PIN</span>
    <input type="text" name="pin" placeholder="6 digit PIN (Required)" ng-model="student['pin']" required ng-minlength="6" ng-maxlength="6"/>
</label>

<a ng-disabled="signupForm.pin.$invalid" ng-click="CheckPIN(student)" class="button button-block icon-right ion-chevron-right button-calm">
    Continue
</a>
<a class="button button-block back-blue" ng-click="openModal()">
    Need Help?  Click Here
</a>