<!--<ion-view view-title="Registration Second Step">-->
    <!--<ion-content>-->
<div class="card">
    <div class="item item-text-wrap">
        <div class="row">
            <div class="col-100">
                <p>What sort of food do you like ?</p>
            </div>
        </div>

        <label class="item item-input">
            <span class="input-label calm">Favorite Dishes</span>
            <input type="text" placeholder="Favorite Dishes (optional)" ng-model="student[form.favoriteDishes]" />
        </label>
    </div>
    <div class="item item-checkbox">
        <label class="checkbox">
            <input name="infoBox" type="checkbox" ng-model="student[form.isAllergy]">
        </label>
        <p>Do you have Allergies.</p>
    </div>
</div>
<div class="row">
        <a ui-sref="email.profile" class="button col col-40 icon-left ion-plus back-blue">
            Back
        </a>
        <a ng-if="student[form.isAllergy]" ui-sref="email.allergies" class="button col-offset-10 col col-40 icon-left ion-plus back-blue">
            Continue
        </a>
        <a ng-if="!student[form.isAllergy]"ui-sref="email.additional" class="button col-offset-10 col col-40 icon-left ion-plus back-blue">
            Continue
        </a>
</div>

    <!--</ion-content>-->
<!--</ion-view>-->