        <div class="row tcenter">
                <h4 class="light">
                    Please take few minutes to tell us about yourself.
                </h4>
        </div>

        <label class="item item-input">
            <span class="input-label calm">First Name</span>
            <input type="text" name="input_1_3" placeholder="First Name (Required)" ng-model="student[form.firstName]" required auto-focus/>
        </label>
        <div ng-show="signupForm.input_1_3.$invalid && !signupForm.input_1_3.$pristine">
            <h5 class="assertive">First Name is required.</h5>
        </div>

        <label class="item item-input">
            <span class="input-label calm">Last Name</span>
            <input type="text" name="input_1" placeholder="Last Name (Required)" ng-model="student[form.lastName]" required />
        </label>
        <div ng-show="signupForm.input_1.$invalid && !signupForm.input_1.$pristine">
            <h5 class="assertive">Last Name is required.</h5>
        </div>

        <label class="item item-input">
            <span class="input-label calm">Email Address</span>
            <input type="email" name="input_3" placeholder="Email (Required)" ng-model="student[form.email]" required/>
        </label>
        <div ng-show="signupForm.input_3.$invalid && !signupForm.input_3.$pristine">
            <h5 class="assertive">Enter a valid email.</h5>
        </div>

        <label class="item item-input">
            <span class="input-label calm">Password</span>
            <input type="password" name="password" placeholder="Password (Required)" ng-model="student[form.password]" required />
        </label>
        <div ng-show="signupForm.password.$invalid && !signupForm.password.$pristine">
            <h5 class="assertive">Password is required.</h5>
        </div>

        <label class="item item-input">
            <span class="input-label calm">Confirm Password</span>
            <input type="password" name="confirmPassword" placeholder="Same Password (Required)" ng-model="student[form.confirmPassword]" />
        </label>

        <div ng-show="signupForm.pin.$invalid && !signupForm.pin.$pristine">
            <h5 class="assertive">Unique pin is required.</h5>
        </div>

        <label class="item item-input">
            <span class="input-label calm">University</span>
            <input type="text" ng-model="student[form.campus]" readonly>
        </label>
        <div ng-show="signupForm.school.$invalid && !signupForm.school.$pristine">
           <h5 class="assertive">University Name is required.</h5>
        </div>

        <label class="item item-input">
            <span class="input-label calm">House</span>
            <input type="text" ng-model="student[form.house]" readonly>
        </label>
        <div ng-show="signupForm.house.$invalid && !signupForm.house.$pristine">
            <h5 class="assertive">House Name is required.</h5>
        </div>

        <label class="item item-input item-select">
            <span class="input-label calm">Live In House?</span>
            <select
                    name="live"
                    ng-init="student.input_12 = options[0]"
                    ng-model="student.input_12"
                    ng-options="option for option in options">
            </select>
        </label>
		<!--
        <a ng-disabled="signupForm.$invalid" ui-sref="email.interests" class="button button-block icon-right ion-chevron-right button-calm">
            Continue
        </a>
		-->
		<button type="submit" ng-disabled="signupForm.$invalid" class="button col-offset-10 col button-calm">
            Finish
        </button>