<ion-modal-view>
    <ion-header-bar class="bar-stable">
    </ion-header-bar>
    <ion-content class="padding" has-header="true">
        <div class="row tcenter">
            <h3 class="light">Need Help?</h3>
        </div>
        <alert></alert>
        <div class="col-100">
            <form role="form" id="helpForm" name="helpForm" ng-submit="sendHelpMessage(helpFormUser)">

                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" name="name" placeholder="Name (Required)" ng-model="helpFormUser['name']" required />
                </label>
                <label class="item item-input" ng-if="email_helpForm">
                    <span class="input-label">Email</span>
                    <input type="email" name="email" placeholder="Email (Required)" ng-model="helpFormUser['email']" required />
                </label>
                <label class="item item-input">
                    <!--<span class="input-label">Message</span>-->
                    <textarea name="message" placeholder="Message (Required)" ng-model="helpFormUser['message']" rows="5" required />
                </label>
                <button type="submit" ng-disabled="helpForm.$invalid" class="button button-block back-blue">
                    Send
                </button>
            </form>
        </div>
        <!--</div>-->
        <div class="col-100">
            <a class="button button-block back-blue" ng-click="closeModal()">
                Close
            </a>
        </div>
    </ion-content>
</ion-modal-view>