<ion-view hide-back-button="true">

    <ion-content class="padding" has-header="true">

        <div class="row tcenter">
            <h3 class="light">Log In To Campus Cooks</h3>
        </div>

        <!--<div class="row">-->
        <!--<h4 class="assertive" ng-if="serverError">{{ serverError }}</h4>-->
        <alert></alert>
        <div class="col-100">
                <form role="form" id="loginForm" name="loginForm" ng-submit="login(user)">

                        <label class="item item-input">
                            <span class="input-label">Email</span>
                            <input type="email" name="email" placeholder="Email (Required)" ng-model="user['username']" required />
                        </label>
                        <div ng-show="loginForm.email.$invalid && !loginForm.email.$pristine">
                            <h5 class="assertive">Enter a valid email.</h5>
                        </div>

                        <label class="item item-input">
                            <span class="input-label">Password</span>
                            <input type="password" name="password" placeholder="Password (Required)" ng-model="user['password']" required />
                        </label>
                        <div ng-show="loginForm.password.$invalid && !loginForm.password.$pristine">
                            <h5 class="assertive">Password is required.</h5>
                        </div>

                    <button type="submit" ng-disabled="loginForm.$invalid" class="button button-block back-blue">
                        Sign In
                    </button>
                </form>
            </div>
        <!--</div>-->
        <div class="col-100">
                <a class="button button-block back-blue" href="#/email/pin">
                    Sign up
                </a>
        </div>
        <div class="col-100">
            <a class="button button-block back-blue" ui-sref="forget-password">
                Forgot Password
            </a>
        </div>
        <div class="col-100">
            <a class="button button-block back-blue" ng-click="openModal()">
                Need Help?  Click Here
            </a>
        </div>

    </ion-content>
</ion-view>