<ion-view>
    <ion-content class="padding" has-header="true">
        <div class="row tcenter" style="margin-top: 90px;">
            <h3 class="light">welcome to campus cooks</h3>
        </div>
        <div class="">

            <!--<div class="col-offset-10 col-80">-->
                <h4 class="light">How do you want to register?</h4>

                <a class="button button-block icon-left ion-plus back-blue" href="#/email/pin">
                    Email Address
                </a>
                <!--<a class="button button-block icon-left ion-plus back-blue" href="#/register/facebook">-->
                    <!--Facebook Account-->
                <!--</a>-->
            <!--</div>-->
        </div>
    </ion-content>
</ion-view>