<ion-view cache-view="false">
    <ion-content id="background-rate-meal" class="padding" has-header="true">

        <div class="row template-rating">
            <div class="">
                <!--<h2 class="light">Rate meals from this week</h2>-->
                <h2 class="light">Rate My Menu! </h2>
                <p>Fetch the menu to rate</p>
                <img class="pull-right" ng-src="{{'img/icons/Rate.png'}}">
            </div>
        </div>
        <form role="form" id="MenuForm" name="MenuForm" ng-submit="getMealtime(menu)" novalidate>

            <h3 class="light" >Rate meals from this week</h3>

            <div ng-init="menu[34]=weekOptions[0].value">

                <!--<label class="item item-input item-select">-->
                    <!--<div class="input-label calm">-->
                        <!--Select Week-->
                    <!--</div>-->
                    <!--<select ng-model="menu[34]"-->
                            <!---->
                            <!--ng-init="menu[34]=weekOptions[0].value"-->
                            <!--name="week">-->
                        <!--<option ng-repeat="input in weekOptions" value="{{ input.value }}">{{input.text}}</option>-->
                    <!--</select>-->
                <!--</label>-->
                <div ng-show="MenuForm['week'].$invalid && !MenuForm['week'].$pristine">
                    <h5 class="assertive">Week is required.</h5>
                </div>
                <label class="item item-input item-select">
                    <div class="input-label calm">
                        Select Day
                    </div>
                    <select ng-model="menu[2]"
                            required
                            name="day">
                        <option value="">Select Day</option>
                        <option ng-repeat="day in dayOption" value="{{ day }}">{{day}}</option>
                    </select>

                </label>
                <div ng-show="MenuForm['day'].$invalid && !MenuForm['day'].$pristine">
                    <h5 class="assertive">Day is required.</h5>
                </div>
            </div>

                <button  type="submit" ng-disabled="MenuForm.$invalid" class="button button-block icon-left ion-plus back-blue">
                    Get Menu
                </button>
        </form>


    </ion-content>
</ion-view>
