<ion-view hide-back-button="true" cache-view="false">
    <ion-nav-title align-title="center" >
        <span style="color: white;float: left;text-decoration: none;">
            <a href="#/tab/menu"><i class="icon ion-chevron-left"></i>
            <span>Menu</span></a>
        </span>
    </ion-nav-title>
    <ion-content id="background-rate-meal" class="padding" has-header="true">
        <div id="menu-detail" class="card">
            <div class="item item-divider calm">
                <!--<span ng-if="mealtime"> {{ mealtime }} for {{ day }} {{ mealDate }}</span>-->
                <span ng-if="mealtime"> {{ mealtime }} for {{ day }}</span>
                <span ng-if="!mealtime"> No meal Details</span>
            </div>
            <div class="item item-text-wrap">
                <alert></alert>
                <div ng-repeat="Entree in foodArray">
                    <div class="row">
                        <div class="col col-center">
                            <p>{{ Entree.item }}</p>
                        </div>
                        <div class="col">
                            <div star-rating ng-model="Entree['rating']" max="5" readonly="Entree['isReadonly']" on-rating-selected="rateFunction(rating,Entree['item'])"></div>
                        </div>
                    </div>

                    <div ng-if="!Entree['isReadonly']" class="item comment-inform">
                        <textarea placeholder="Enter Comments here ..." rows="4" ng-model="Entree['comment']"></textarea>
                        <a class="button button-full back-blue" ng-click="submitMealRating(Entree['rating'],Entree.item,Entree['comment'])">
                            Rate {{ Entree.item }}
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>