<ion-view>
    <ion-content class="padding" has-header="true">

    <div class="row template">
        <div class="">
            <h1 class="light">Rate Your Meal! </h1>
            <p>Now that you are fed.... </br>give us some feedback!</p>
            <img style="margin-top: 1.5rem;margin-right: 1rem;" ng-src="{{'img/icons/Rate.png'}}">
        </div>
        <div class="clearfix"></div>
        <br/>
    </div>

    <form role="form" id="ratingForm" name="ratingForm" ng-submit="rateMeal()">
        <div class="row">
            <span class="col light">Rating for Menu ID</span><span class="col light">{{ rating[1] }}</span>
        </div>

        <div class="item item-input">
            <span class="input-label calm">Rating</span>
            <div star-rating ng-model="rating[2]" max="5"></div>
            <!--<input type="text" placeholder="Between 1 and 5" ng-model="rating[form.ratingId]">-->
        </div>

        <label id="feedback" class="item item-input">
            <span class="input-label calm">Comments</span>
            <textarea placeholder="Comments" rows="6" cols="10" ng-model="rating[form.commentId]"></textarea>
        </label>
        <button type="submit" class="button button-block icon-left ion-plus back-blue">
            submit
        </button>
    </form>
    </ion-content>
</ion-view>