<ion-view cache-view="false">
    <ion-content id="background-get-meal" class="padding" has-header="true">
        <div id="menu-detail" class="card">
            <div class="item item-divider calm">
                <span ng-if="mealtime"> {{ mealtime }} for {{ day }} {{ mealDate }}</span>
                <span ng-if="!mealtime"> No meal Details</span>
            </div>
            <div class="item item-text-wrap">
                <alert></alert>
                <div class="row" ng-repeat="Entree in foodArray">
                    <div class="col col-center">
                        <small>{{ Entree.item }}</small>
                    </div>

                    <div class="col" ng-show="Entree.food_type[0] || Entree.food_type[1] || Entree.food_type[2]">
                        <div class="row rate-panel">
                            <div class="col" ng-class="{'make-dull' : !Entree.food_type[0]}">
                                <img ng-src="{{ 'img/icons/icon-gluten-free.png'}}">
                            </div>
                            <div class="col" ng-class="{'make-dull' : !Entree.food_type[1]}">
                                <img ng-src="{{ 'img/icons/Veggie.png'}}">
                            </div>
                            <div class="col" ng-class="{'make-dull' : !Entree.food_type[2]}">
                                <img ng-src="{{ 'img/icons/Dairy-Free.png'}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card more-button-panel">
            <div class="row">
                <div class="col" ng-click="submitLatePlate()">
                    <span class="panel-button">Late Plate</span>
                    <img ng-src="{{ 'img/icons/menu-lower-late.png'}}">
                </div>
                <div class="col" ng-click="mealAttending()">
                    <span class="panel-button">I'm Attending</span>
                    <img ng-src="{{ 'img/icons/menu-lower-attending.png'}}">
                </div>
                <div class="col" ng-click="rateMenuItem()">
                    <span class="panel-button">Rate Meal</span>
                    <img ng-src="{{ 'img/icons/menu-lower-rate.png'}}">
                </div>
                <!--<div class="col" ng-click="getNextmeal()">-->
                    <!--<span class="panel-button">Next Meal</span>-->
                    <!--<img ng-src="{{ 'img/navigate-right.png'}}">-->
                <!--</div>-->
            </div>
        </div>

    </ion-content>
</ion-view>