<ion-view cache-view="false">
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="right" >
            <button  ng-if="prevButton" class="button button-icon button-clear icon icon-left ion-chevron-left" style="top: 40px;color: white" ng-click="previousweek()">Previous Week </button>
            <button  ng-if="nextButton" class="button button-icon button-clear icon  icon-right ion-chevron-right" style="top: 40px;color: white" ng-click="nextweek()">Next Week </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <!--<div class="bar bar-header">-->
        <!--<h2 class="title">Sub Header</h2>-->
    <!--</div>-->
    <ion-content id="background-get-meal" has-header="true" >

        <!--<button ng-if="prevButton" class="button button-calm" style="float: left" ng-click="previousweek()">-->
            <!--previus-->
        <!--</button>-->
        <!--<button ng-if="nextButton" class="button button-calm " style="float: right" ng-click="nextweek()">-->
            <!--next-->
        <!--</button>-->


        <div class="tabs tabs-striped tabs-top tab-date">
            <a class="tab-item"  ng-repeat="item in dateList" ng-class="{ 'active' : viewCondition == item.id }" ng-click="getmenu(item)" nav-clear>
                <span class="date-box">
                    <p class="date">{{ item.date }}</p>
                    <p class="day">{{ item.day }}</p>
                </span>
            </a>
        </div>
        <h3 ng-if="!(breakfast||lunch||dinner)" class="light text-center">{{ loadMenuMessage }}</h3>
        <alert></alert>

        <div ng-if="breakfast">
            <div class="card">
                <div class="item item-divider calm">
                    <!--<span ng-if="meal_breakfast.mealtime"> {{ meal_breakfast.mealtime }} for {{ meal_breakfast.day }} {{ meal_breakfast.mealDate }}</span>-->
                    <span ng-if="meal_breakfast.mealtime"> {{ meal_breakfast.mealtime }} for {{ meal_breakfast.day }}</span>
                    <span ng-if="!meal_breakfast.mealtime"> No meal Details</span>
                </div>
                <div class="item item-text-wrap">

                    <div class="row" ng-repeat="Entree in meal_breakfast.foodArray">
                        <div class="col col-center">
                            <small>{{ Entree.item }}</small>
                        </div>

                        <div class="col" ng-show="Entree.food_type[0] || Entree.food_type[1] || Entree.food_type[2]">
                            <div class="row rate-panel">
                                <div class="col" ng-class="{'make-dull' : !Entree.food_type[0]}">
                                    <img ng-src="{{ 'img/icons/icon-gluten-free.png'}}">
                                </div>
                                <div class="col" ng-class="{'make-dull' : !Entree.food_type[1]}">
                                    <img ng-src="{{ 'img/icons/Veggie.png'}}">
                                </div>
                                <div class="col" ng-class="{'make-dull' : !Entree.food_type[2]}">
                                    <img ng-src="{{ 'img/icons/Dairy-Free.png'}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- -->
                <div class="item more-button-panel">
                    <div class="row">
                        <div class="col" ng-click="submitLatePlate(meal_breakfast)">
                            <span class="panel-button">Late Plate</span>
                            <img ng-src="{{ 'img/icons/menu-lower-late.png'}}">
                        </div>
                        <div class="col" ng-click="mealAttending(meal_breakfast)">
                            <span class="panel-button">I'm Attending</span>
                            <img ng-src="{{ 'img/icons/menu-lower-attending.png'}}">
                        </div>
                        <div ng-if="showRateMealBtn" class="col" ng-click="rateMenuItem(meal_breakfast)">
                            <span class="panel-button">Rate Meal</span>
                            <img ng-src="{{ 'img/icons/menu-lower-rate.png'}}">
                        </div>
                    </div>
                </div>
                <!-- -->
            </div>
        </div>
        <div ng-if="lunch">
            <div   class="card">
                <div class="item item-divider calm">
                    <!--<span ng-if="meal_lunch.mealtime"> {{ meal_lunch.mealtime }} for {{ meal_lunch.day }} {{ meal_lunch.mealDate }}</span>-->
                    <span ng-if="meal_lunch.mealtime"> {{ meal_lunch.mealtime }} for {{ meal_lunch.day }}</span>
                    <span ng-if="!meal_lunch.mealtime"> No meal Details</span>
                </div>
                <div class="item item-text-wrap">

                    <div class="row" ng-repeat="Entree in meal_lunch.foodArray">
                        <div class="col col-center">
                            <small>{{ Entree.item }}</small>
                        </div>

                        <div class="col" ng-show="Entree.food_type[0] || Entree.food_type[1] || Entree.food_type[2]">
                            <div class="row rate-panel">
                                <div class="col" ng-class="{'make-dull' : !Entree.food_type[0]}">
                                    <img ng-src="{{ 'img/icons/icon-gluten-free.png'}}">
                                </div>
                                <div class="col" ng-class="{'make-dull' : !Entree.food_type[1]}">
                                    <img ng-src="{{ 'img/icons/Veggie.png'}}">
                                </div>
                                <div class="col" ng-class="{'make-dull' : !Entree.food_type[2]}">
                                    <img ng-src="{{ 'img/icons/Dairy-Free.png'}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- -->
                <div class="item more-button-panel">
                    <div class="row">
                        <div class="col" ng-click="submitLatePlate(meal_lunch)">
                            <span class="panel-button">Late Plate</span>
                            <img ng-src="{{ 'img/icons/menu-lower-late.png'}}">
                        </div>
                        <div class="col" ng-click="mealAttending(meal_lunch)">
                            <span class="panel-button">I'm Attending</span>
                            <img ng-src="{{ 'img/icons/menu-lower-attending.png'}}">
                        </div>
                        <div ng-if="showRateMealBtn" class="col" ng-click="rateMenuItem(meal_lunch)">
                            <span class="panel-button">Rate Meal</span>
                            <img ng-src="{{ 'img/icons/menu-lower-rate.png'}}">
                        </div>
                    </div>
                </div>
                    <!-- -->
            </div>
        </div>

        <div ng-if="dinner">
            <div   class="card">
                <div class="item item-divider calm">
                    <!--<span ng-if="meal_dinner.mealtime"> {{ meal_dinner.mealtime }} for {{ meal_dinner.day }} {{ meal_dinner.mealDate }}</span>-->
                    <span ng-if="meal_dinner.mealtime"> {{ meal_dinner.mealtime }} for {{ meal_dinner.day }}</span>
                    <span ng-if="!meal_dinner.mealtime"> No meal Details</span>
                </div>
                <div class="item item-text-wrap">

                    <div class="row" ng-repeat="Entree in meal_dinner.foodArray">
                        <div class="col col-center">
                            <small>{{ Entree.item }}</small>
                        </div>

                        <div class="col" ng-show="Entree.food_type[0] || Entree.food_type[1] || Entree.food_type[2]">
                            <div class="row rate-panel">
                                <div class="col" ng-class="{'make-dull' : !Entree.food_type[0]}">
                                    <img ng-src="{{ 'img/icons/icon-gluten-free.png'}}">
                                </div>
                                <div class="col" ng-class="{'make-dull' : !Entree.food_type[1]}">
                                    <img ng-src="{{ 'img/icons/Veggie.png'}}">
                                </div>
                                <div class="col" ng-class="{'make-dull' : !Entree.food_type[2]}">
                                    <img ng-src="{{ 'img/icons/Dairy-Free.png'}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- -->
                <div class="item more-button-panel">
                    <div class="row">
                        <div class="col" ng-click="submitLatePlate(meal_dinner)">
                            <span class="panel-button">Late Plate</span>
                            <img ng-src="{{ 'img/icons/menu-lower-late.png'}}">
                        </div>
                        <div class="col" ng-click="mealAttending(meal_dinner)">
                            <span class="panel-button">I'm Attending</span>
                            <img ng-src="{{ 'img/icons/menu-lower-attending.png'}}">
                        </div>
                        <div ng-if="showRateMealBtn" class="col" ng-click="rateMenuItem(meal_dinner)">
                            <span class="panel-button">Rate Meal</span>
                            <img ng-src="{{ 'img/icons/menu-lower-rate.png'}}">
                        </div>
                    </div>
                </div>
                <!-- -->
            </div>
        </div>


























        <!--<div class="row template-menu">-->
        <!--<div class="meal">-->
        <!--<h2 class="light">Get MY Menu! </h2>-->
        <!--<p>See whats cooking this week</p>-->
        <!--<img class="pull-right" ng-src="{{'img/icons/icon-getmenu.png'}}">-->
        <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;&ndash;&gt;-->
        <!--<form role="form" id="MenuForm" name="MenuForm" ng-submit="getMealtime(menu)" novalidate>-->
        <!--<div>-->
        <!--<label class="item item-input item-select">-->
        <!--<div class="input-label calm">-->
        <!--Select Week-->
        <!--</div>-->
        <!--<select ng-model="menu[34]"-->
        <!--required-->
        <!--ng-init="menu[34]=weekOptions[0].value"-->
        <!--name="week">-->
        <!--<option ng-repeat="input in weekOptions" value="{{ input.value }}">{{input.text}}</option>-->
        <!--</select>-->
        <!--&lt;!&ndash;&ndash;&gt;-->
        <!--</label>-->
        <!--<div ng-show="MenuForm['week'].$invalid && !MenuForm['week'].$pristine">-->
        <!--<h5 class="assertive">Week is required.</h5>-->
        <!--</div>-->
        <!--<label class="item item-input item-select">-->
        <!--<div class="input-label calm">-->
        <!--Select Day-->
        <!--</div>-->
        <!--<select ng-model="menu[2]"-->
        <!--required-->
        <!--name="day">-->
        <!--<option value="">Select Day</option>-->
        <!--<option ng-repeat="day in dayOption" value="{{ day }}">{{day}}</option>-->
        <!--</select>-->
        <!--&lt;!&ndash;&ndash;&gt;-->
        <!--</label>-->
        <!--<div ng-show="MenuForm['day'].$invalid && !MenuForm['day'].$pristine">-->
        <!--<h5 class="assertive">Day is required.</h5>-->
        <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;&ndash;&gt;-->
        <!--<button  type="submit" ng-disabled="MenuForm.$invalid" class="button button-block icon-left ion-plus back-blue">-->
        <!--Get Menu-->
        <!--</button>-->
        <!--</form>-->
        <!---->
        <!---->
    </ion-content>
</ion-view>
