<ion-view>
    <ion-content id="background-get-meal" class="padding" has-header="true">
        <div class="row tcenter">
            <h4><span class="calm">{{ textMessage }}</span></h4>
            <p ng-if="breakfast||lunch||dinner">select a meal time</p>
            <h3 ng-if="!(breakfast||lunch||dinner)" class="light">{{ loadMenuMessage }}</h3>
        </div>
        <alert></alert>

        <div class="meal-time list">

            <a ng-if="breakfast" class="item item-thumbnail-left back-blue" ng-click="getMenu('Breakfast')">
                <img ng-src="{{ 'img/icons/Breakfast.png'}}">
                <h1 class="light">Breakfast</h1>
            </a>

            <a ng-if="lunch" class="item item-thumbnail-left back-blue" ng-click="getMenu('Lunch')">
                <img ng-src="{{ 'img/icons/Lunch.png'}}">
                <h1 class="light">Lunch</h1>
            </a>

            <a ng-if="dinner" class="item item-thumbnail-left back-blue" ng-click="getMenu('Dinner')">
                <img ng-src="{{ 'img/icons/Dinner.png'}}">
                <h1 class="light">Dinner</h1>
            </a>

        </div>


    </ion-content>
</ion-view>