<ion-view>
    <ion-content id="background-community" class="padding" has-header="true">
        <div class="row template">
            <div class="">
                <h3 class="light">There Is Always Something Cooking! </h3>
                <img class="pull-right" ng-src="{{'img/icons/community.png'}}">
            </div>
        </div>

        <div id="community-selection">
            <a class="button button-full icon-left ion-plus back-blue" ui-sref="tab.general-feedback">
                Submit a suggestion to your chef
            </a>
            <!--<a class="button button-full icon-left ion-plus back-blue" ui-sref="tab.meal-suggestion">-->
                <!--Meal Suggestions-->
            <!--</a>-->
            <a class="button button-full icon-left ion-plus back-blue" ui-sref="tab.message-board">
                Join the forum
            </a>
        </div>
    </ion-content>
</ion-view>