<ion-view>
    <ion-content id="background-community" class="padding" has-header="true">

        <div class="row template">
            <div class="">
                <h3 class="light">There Is Always Something Cooking! </h3>
                <img class="pull-right" style="margin-top: 1rem;" ng-src="{{'img/icons/community.png'}}">
            </div>
        </div>

        <form class="animated fadeInUpBig" role="form" id="mealSuggestionForm" name="communityForm" ng-submit="vm.submitFeedback(vm.feedback)">
        <alert></alert>

            <div class="list">

                <label id="feedback" class="item item-input">
                    <span class="input-label calm">Suggestions</span>
                    <textarea name="feedback" placeholder="Suggestions (Required)" rows="6" cols="10"
                              ng-model="vm.feedback[vm.form.feedback]" required></textarea>
                </label>
                <div ng-show="communityForm.feedback.$invalid && !communityForm.feedback.$pristine">
                    <h5 class="assertive">Suggestions field is required.</h5>
                </div>
            </div>
            <button type="submit" ng-disabled="communityForm.$invalid"
                    class="button button-block icon-left ion-plus back-blue">
                Submit Suggestions
            </button>
        </form>
    </ion-content>
</ion-view>