<ion-view>
    <ion-content id="background-community" class="padding" has-header="true">

        <alert></alert>
        <div ng-repeat="thread in vm.threads" class="message-wrapper animated zoomIn">
            <div class="list">
                <a class="item item-icon-right animated bounceInLeft" ng-if="thread[4]" ng-click="vm.openThread(thread)">
                    <h2>{{ thread[3] }}</h2>
                    <p>{{ thread[4] }}</p>
                    <i class="icon icon-accessory ion-chevron-right"></i>
                </a>
            </div>
        </div>
        <form class="animated fadeInUpBig" role="form" name="communityForm" ng-submit="vm.createThread(vm.feedback)">

            <div class="list">
                <label id="feedback" class="item item-input">
                    <textarea name="feedback" placeholder="Create New Thread (Required)" rows="2" cols="10"
                              ng-model="vm.feedback[vm.form.subject]" required></textarea>
                </label>
                <div ng-show="communityForm.feedback.$invalid && !communityForm.feedback.$pristine">
                    <h5 class="assertive">New Thread field is required.</h5>
                </div>

                <label class="item item-input">
                    <textarea name="message" placeholder="add comment (Required)" rows="3" cols="10"
                              ng-model="vm.message" required></textarea>
                </label>
                <div ng-show="communityForm.message.$invalid && !communityForm.message.$pristine">
                    <h5 class="assertive">Add comment field is required.</h5>
                </div>

            </div>
            <button type="submit" ng-disabled="communityForm.$invalid"
                    class="button button-block icon-left ion-plus back-blue">
                Create Thread
            </button>
        </form>
    </ion-content>
</ion-view>