<ion-view>
    <ion-content id="background-community" class="padding" has-header="true">

        <div><h3 class="light">{{ vm.subject }}</h3></div>
        <div ng-repeat="thread in vm.threads" class="message-wrapper">
            <div>
                <div class="chat-bubble left">

                    <div class="message">
                        {{ thread[5] }}
                    </div>
                    <div class="message-detail">
                        <span class="bold calm">{{ thread[3] }}</span>,
                        <small >{{thread.date_created}}</small>
                    </div>
                </div>

            </div>

            <div class="cf"></div>
        </div>

        <form class="animated fadeInUpBig" role="form" name="communityForm" ng-submit="vm.createThread(vm.feedback)">
            <alert></alert>

            <div class="list">

                <label id="feedback" class="item item-input">
                    <!--<span class="input-label calm">New Thread</span>-->
                    <textarea name="feedback" placeholder="Add comment (Required)" rows="3" cols="10"
                              ng-model="vm.feedback[vm.form.message]" required></textarea>
                </label>
                <div ng-show="communityForm.feedback.$invalid && !communityForm.feedback.$pristine">
                    <h5 class="assertive">Add comment field is required.</h5>
                </div>
            </div>
            <button type="submit" ng-disabled="communityForm.$invalid"
                    class="button button-block icon-left ion-plus back-blue">
                Add comment
            </button>
        </form>
    </ion-content>
</ion-view>